*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #293039;
    color: white;
    overflow: hidden;
}
header{
    background-color: #0E1318;
    width: 100%;
    max-height: 120px;
    border-bottom: 2px solid #8E491A;
    font-size: 30px;
    padding: 25px
}
.main-container{
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.cube-container{
    width: 540px;
    min-height: 540px;
    position: relative;
}
.cube{
    border: 1.9px solid black;
    border-radius: 3px;
    position: absolute;
}
.figures-container{
    background-color: red;
    bottom: 10px;
    height: 100px;
    width: 40%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}